* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100vh;
}

body {
    font-family: "Manrope",sans-serif;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ecf2f8ff;

}

.container {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    min-width: 250px;
    height: auto;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.285);
}

.img-container {
    height: 230px;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    padding: 1.5rem 1.5rem 1rem;
}


.content-heading {
    color: #48556aff;
    margin-bottom: 0.8rem;
}

.content-text {
    color: #9eafc2ff;
}


/* FOOTER  */

.footer1 {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    gap: 1rem;
    height: 70px;
}

.avatar-container {
    width: 40px;
}

.avatar-img {
    width: 100%;
    border-radius: 50%;
}

.avatar-name {
    color: #48556aff;
}

.avatar-date {
    color: #9eafc2ff;
}



.nav-display {
    display: flex !important;
}

.nav {
    display: none;
    position: absolute;
    top: 360px;
    gap: 1rem;
    background-color: #48556aff;
    padding: 1rem;
    border-radius: 10px;
    z-index: 10;
}

.caja {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: 
    translate(-50%,30%)
    rotate(45deg);
    width: 30px;
    height: 30px;
    background-color: #48556aff;
    z-index: -1;
}

/* .avatar-name {

} */


.footer1-display {
    display: none;
}

.footer2-display {
    display: flex !important;
}

.footer2 {
    display: none;
    align-items: center;
    gap: 1rem;
    background-color: #48556aff;
    padding: 0 1.5rem;
    height: 70px;
}

.share {
    color: rgb(255, 255, 255);
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.8rem;
}

.icon-share-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(181, 196, 212);
    cursor: pointer;
}

.icon-share-container--1 {
    margin-left: auto;
    background-color: rgb(239, 247, 255);
}

.icon-share-container--2 {
    margin-left: auto;
}

.icon-share {
    transform: scale(1);
    color: white;
    margin-top: -3px;
}

.icon-share--1 {
    color: #48556aff;
}

.icon-share--2 {
    color: white;
}

.btn {
    position: absolute;
    top: 100px;
    left:100px;
    padding: 1rem 2rem;
}

@media (min-width: 1100px) {
    .container {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: repeat(4, 1fr);
        max-width: 800px;
        height: 300px;
    }

    .img-container {
        grid-row: 1 / 5;
        grid-column: span 1;
        height: 100%;
    }

    .content {
        grid-column: span 1;
        grid-row: 1 / 4;
        align-self: center;
        padding: 1.5rem 2.2rem 1rem
    }

    .footer1 {
        grid-column: 2 / 3;
        align-self: center;
        padding: 0 2.2rem;
    }
}